'scopeName': 'source.pact.repl'
'fileTypes': [
  'repl'
]
'name': 'Pact Repl Script'
'patterns': [
  {
    'include': '#command'
  }
  {
    'include': 'source.pact'
  }
]
'repository':
  'command':
    'match': '(:(bench|entity|exec|expect|fail|load|reset|setmsg|setsigs|setstep|show|tx (begin|commit|rollback)))\\s+'
    'captures':
      '1':
        'name': 'constant.reserved.pact.repl.command'
