
'.source.pact':
  'editor':
    'commentStart': '; '
  'autocomplete':
    'extraWordCharacters': '-'
  'bracket-matcher':
    autocompleteCharacters: [
      '()'
      '[]'
      '{}'
      '""'
      '``'
      '“”'
      '‘’'
      '«»'
      '‹›'
    ]
